$color-primary: #111827;
$color-primary-light: #1f2937;
$color-secondary: #374151;

$color: #f5fafd;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$font-primary: "Comfortaa", sans-serif;
$font-secondary: "Roboto", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px / 16px = 0.625 = 62.5% */
  scroll-behavior: smooth;

  @media only screen and (max-width: 600px) {
    font-size: 50%;
  }

  // @media only screen and (max-width: 400px) {
  //   font-size: 40%;
  // }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  color: $color-grey-light-1;
  background-color: $color-primary;
}
