// .section-2 {
//   // background-color: $color-grey-light-2;
// }

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  color: $color-grey-light-2;
  margin: 0 auto;

  font-size: 12px;
  line-height: 1.6;

  @media only screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  &__box {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 10px;
    border: black;

    // @media only screen and (max-width: 950px) {
    //   height: 110px;
    // }
  }

  &__logo_box {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;

    @media only screen and (max-width: 1100px) {
      justify-content: center;
    }
  }

  &__logo {
    display: block;
    height: 5.2rem;
    // filter: brightness(0);
    opacity: 80%;

    &-text {
      height: 3.6rem;
      margin-top: 1rem;
    }
  }

  &__link {
    display: inline-block;
    transition: all 0.3s;
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-light-2;
  }

  &__link:hover,
  &__link:active {
    color: $color-grey-light-1;
  }

  &__text {
    justify-self: flex-start;
  }
}

.section-2 {
  margin: 0 auto;
  max-width: 120rem;
}
