.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  color: $color-grey-light-2;
  margin: 0 auto;
  color: $color-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  &__box {
    display: flex;
    gap: 0.8rem;
  }

  &__logo {
    display: block;
    height: 5.2rem;
    filter: brightness(0);
    opacity: 50%;

    &-text {
      height: 3.6rem;
      margin-top: 1rem;
    }
  }

  &__link {
    display: inline-block;
    transition: all 0.3s;
  }

  &__link:link,
  &__link:visited {
    color: $color-primary;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary-light;
  }

  &__text {
    justify-self: flex-start;
  }
}

.section-2 {
  margin: 0 auto;
  max-width: 120rem;
}
