.featured {
  padding: 4.8rem 0 3.2rem 0;
  margin: 0 auto;
  max-width: 120rem;

  &__logos {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  &__logo {
    height: 5.2rem;
    filter: brightness(0);
    opacity: 50%;
  }
}

.links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  // margin-bottom: 8rem;
}

.social_links {
  width: 4rem;
  color: $color-primary;
  transition: all 0.3s;

  height: 4rem;
}

.social_links:link,
.social_links:visited {
  color: $color-primary;
  transition: all 0.3s;
}

.social_links:hover,
.social_links:active {
  color: $color-primary-light;
}
