.footer {
  display: flex;
  padding: 3rem;
  border-top: 1px solid $color-grey-light-2;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: $color-primary;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 3rem;
  }

  &__logo {
    height: 3rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__link {
    width: 4rem;
    height: 4rem;
    color: $color-primary;
    transition: all 0.3s;
    text-decoration: none;
  }

  &__link:link,
  &__link:visited {
    color: $color-primary;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary-light;
    transform: scale(1.1);
  }
}
