.gallery {
  margin: 0 auto;

  &__container {
    display: flex;
    // grid-template-columns: 55fr 45fr;
    padding: 2rem;
    justify-content: center;
  }

  &__pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: hidden;
    justify-items: center;

    @media only screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__img {
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    object-fit: cover;
    transition: all 0.3s;

    &:hover {
      // transform: scale(1.1);
    }
  }
}
