.gamertag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
  overflow: hidden;
  background-color: $color-primary;
  max-width: 75rem;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 3rem;

  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 42.5rem;
    padding-top: 1.5rem;
  }

  &__ids {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__card {
    display: block;
    max-width: 100%;
  }
}
