.header {
  background-color: $color-primary;

  &__nav {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    @media only screen and (max-width: 900px) {
      justify-content: center;
    }
  }

  &__logo {
    height: 5rem;
    transition: all 0.3s;
  }

  &__logo:hover {
    transform: scale(1.1);
  }

  &__nav__btn {
    display: flex;
    gap: 1.6rem;
    list-style: none;
    font-size: 2rem;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $color-grey-light-1;
    padding: 1rem;
    border-radius: 50px;
    transition: all 0.3s;
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-light-1;
  }

  &__link:hover,
  &__link:active {
    color: $color-grey-light-1;
    transform: scale(1.1);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
  }
}
