.hero {
  padding: 2.5rem;
  font-size: 2rem;
  line-height: 1.2;
  background-color: $color-primary;
  // height: 64rem;
  // margin-bottom: 3rem;

  &__box {
    text-align: center;
    // margin-top: 1rem;
    font-size: x-large;

    @media only screen and (max-width: 950px) {
      margin-top: 0;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 2rem;
    }
  }
}

.sonic_logo {
  display: block;
  width: 200px;
  justify-self: center;
  margin-bottom: 1.5rem;
}

button {
  margin-top: 2rem;
  background-color: $color-grey-light-2;
  font-size: 2rem;
  border-radius: 999px;
  padding: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  // additive-symbols: -moz-element();

  &:hover {
    transform: scale(1.05);
  }
}
