*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px / 16px = 0.625 = 62.5% */
  scroll-behavior: smooth; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
  color: #f9f7f6;
  background-color: #f5fafd; }

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  color: #aaa;
  margin: 0 auto;
  color: #5643fa;
  font-size: 1.6rem;
  line-height: 1.6; }
  .content__box {
    display: flex;
    gap: 0.8rem; }
  .content__logo {
    display: block;
    height: 5.2rem;
    filter: brightness(0);
    opacity: 50%; }
    .content__logo-text {
      height: 3.6rem;
      margin-top: 1rem; }
  .content__link {
    display: inline-block;
    transition: all 0.3s; }
  .content__link:link, .content__link:visited {
    color: #5643fa; }
  .content__link:hover, .content__link:active {
    color: #2998ff; }
  .content__text {
    justify-self: flex-start; }

.section-2 {
  margin: 0 auto;
  max-width: 120rem; }

.gallery {
  margin: 0 auto; }
  .gallery__container {
    display: flex;
    padding: 2rem;
    justify-content: center; }
  .gallery__pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow: hidden;
    justify-items: center; }
    @media only screen and (max-width: 800px) {
      .gallery__pictures {
        grid-template-columns: repeat(2, 1fr); } }
  .gallery__img {
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    object-fit: cover;
    transition: all 0.3s; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.25), rgba(0, 255, 255, 0.25)), url(img/msii.jpg);
  background-size: cover;
  margin: 0 auto; }
  .header__nav {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    height: 5rem; }
  .header__nav__btn {
    display: flex;
    gap: 1.6rem;
    list-style: none;
    font-size: 2rem; }
    @media only screen and (max-width: 900px) {
      .header__nav__btn {
        display: none; } }
  .header__link {
    display: block;
    text-decoration: none;
    color: #2998ff;
    padding: 1rem;
    border-radius: 50px;
    transition: all 0.3s; }
  .header__link:link, .header__link:visited {
    color: #2998ff; }
  .header__link:hover, .header__link:active {
    color: #2998ff;
    transform: scale(1.1);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2); }

.hero {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  font-size: 2rem;
  line-height: 1.2;
  justify-self: center;
  padding: 4.8rem 0 3.2rem 0;
  margin: 0 auto;
  max-width: 120rem; }
  .hero__content {
    margin: 0 auto;
    margin-left: 50px; }

.sonic_logo {
  width: 60%;
  justify-self: center; }

.featured__container {
  padding: 4.8rem 0 3.2rem 0;
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10rem; }
  @media only screen and (max-width: 1120px) {
    .featured__container {
      gap: 5rem; } }
  @media only screen and (max-width: 950px) {
    .featured__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem; } }

.featured__logo {
  display: block;
  height: 5.2rem;
  filter: brightness(0);
  opacity: 50%; }

.gamertag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
  overflow: hidden;
  background-color: #5643fa;
  max-width: 75rem;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 800px) {
    .gamertag {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 42.5rem;
      padding-top: 1.5rem; } }
  .gamertag__ids {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; }
  .gamertag__card {
    display: block;
    max-width: 42.5rem; }

.footer {
  display: flex;
  padding: 3rem;
  border-top: 1px solid #aaa;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #5643fa; }
  @media only screen and (max-width: 1000px) {
    .footer {
      flex-direction: column;
      gap: 3rem; } }
  .footer__logo {
    height: 3rem; }
  .footer__links {
    display: flex;
    justify-content: center;
    gap: 2rem; }
  .footer__link {
    width: 4rem;
    height: 4rem;
    color: #5643fa;
    transition: all 0.3s;
    text-decoration: none; }
  .footer__link:link, .footer__link:visited {
    color: #5643fa; }
  .footer__link:hover, .footer__link:active {
    color: #2998ff;
    transform: scale(1.1); }

h1 {
  text-transform: uppercase;
  font-size: 4.4rem;
  color: #2998ff; }

h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #aaa;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 5rem; }
